{% extends 'base.html.twig' %}


{% block menu %}{% endblock %}

{% block body %}
    <div class="unauthorized__wrapper">
        <h2>Could not find user account</h2>
        <p>
            It looks like we had a problem with your Library account. Try <a href="{{ path('shib_logout',{'return': path('login')}) }}">signing out</a> and logging back in again.
        </p>
        <p>
            If that does not resolve the issue
        </p>
        <a href="http://new.library.arizona.edu/contact"><button class="button button-primary">Contact us so we can help</button></a>
    </div>
{% endblock %}
