###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Editor Configs ###
.idea

###< Behat Local Configuration Files ###
behat.local.yml

###< macOS Finder config files ###
.DS_Store

###< PHP Lines of Code Analyzer Output###
phploc.xml

###< Generated code documentation###
docs/phpdox/build
docs/phpdox_out
docs/s3.conf

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
