
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

docs/.sculpin/
docs/app/cache/*
docs/app/config/sculpin_kernel_*.yml
docs/app/config/sculpin_site_*.yml
docs/app/logs/*
docs/output_*/
docs/source/components/
docs/s3.conf

.idea
