<footer>
    <div class="footer__wrapper">
        <div class="footer__inner">
            <p>1510 E. University Blvd. Tucson, AZ 85721 </p>
            <p>(520) 621-6442 &nbsp; <a href="http://new.library.arizona.edu/contact">Contact us</a></p>
            <p>&copy; {{ 'now'|date('Y') }} Arizona Board of Regents for the University of Arizona</p>
            <a href="https://privacy.arizona.edu/privacy-statement">University Privacy Statement</a>
        </div>
    </div>
</footer>
