<nav class="menu">
    <ul class="menu__items">
        <li class="menu__item"><a href="{{ path('index') }}" class="menu__link menu__link--active">Charges</a></li>
        <li class="menu__item"><a href="{{ path('history') }}" class="menu__link">Payment history</a></li>
    </ul>
</nav>
