{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form action="https://payflowlink.paypal.com" method="post">
        <input type="hidden" name="LOGIN" value="leehemphill">
        <input type="hidden" name="PARTNER" value="PayPal">
        <input type="hidden" name="AMOUNT" value={{ total_balance }}>
        <input type="hidden" name="TYPE" value="S">
        <input type="hidden" name="INVOICE" value={{ invoice_number }}>
        <lable>If you are not redirected to Payflow</lable><br>
        <input id="pay_form" type="submit" value="Click here">
    </form>

    <script>
        window.onload = () => document.getElementById("pay_form").click();
    </script>
</div>
{% endblock %}
