.history__wrapper {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.history__title {
  margin: 0 1rem;
}

.history__inner {
  margin: 1rem;
}

.history__card {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.history__card:last-child {
  border-bottom: 0;
}

.history__card--title {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.history__card--amount {
  width: 5rem;
  font-weight: 600;
  color: var(--dark-silver);
}
