.menu {
  padding: 0 1rem;
}

.menu__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: block;
}

.menu__link {
  display: block;
  padding: .5rem 1rem;
}

.menu__link--active {
  position: relative;
  background-color: var(--ua-red);
  color: var(--white);
}

.menu__link--active:hover {
  color: var(--white);
}
