.menu {
  padding: 4rem 0 2rem 2rem;
}

.menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: block;
}

.menu__link {
  display: block;
  padding: .5rem .5rem .5rem 2rem;
}

.menu__link--active {
  position: relative;
  background-color: var(--ua-red);
  color: var(--white);
}

.menu__link--active::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5rem;
  width: 1.5rem;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53 95"><defs><clipPath id="clip-path" transform="translate(-503 -380)"><polygon points="551 427.5 508 470 508 385 551 427.5" fill="none" clip-rule="evenodd"/></clipPath><clipPath id="clip-path-2" transform="translate(-503 -380)"><rect width="2530" height="1875" fill="none"/></clipPath></defs><title>menu-link-triangle</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g clip-path="url(%23clip-path)"><g clip-path="url(%23clip-path-2)"><rect width="53" height="95" fill="%23ab0520"/></g></g></g></g></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__link--active:hover {
  color: var(--white);
}
