.profile__wrapper {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.profile__inner {
  margin: 0 1rem;
  text-align: center;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

.profile__name {
  margin: 0.5rem 0;
}
