<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div id="header"></div>

    <div class="title__wrapper">
        <div class="title__inner">
            <h1 class="title__title">Library payments</h1>
        </div>
    </div>

    {% block body %}{% endblock %}
    <script src="{{ asset('build/polyfill.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}

    {% include 'partials/footer.html.twig' %}
</body>

</html>
