<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - University of Arizona Libraries</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div id="header"></div>
    {% if app.environment != "prod" %}
        {% include 'partials/environment.html.twig' %}
    {% endif %}
    <div class="body__wrapper">
        <div class="body__inner">
            {% include 'partials/menu.html.twig' %}
            {% include 'partials/title.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}

    <script src="{{ asset('build/polyfill.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>
