<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - University of Arizona Libraries</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div id="header"></div>
    {% if app.environment != "prod" %}
        {% include 'partials/environment.html.twig' %}
    {% endif %}
    <div class="body__wrapper">
        <div class="body__inner">
            {% block menu %}
                {% include 'partials/menu.html.twig' %}
            {% endblock %}
            {% include 'partials/title.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}

    {{ encore_entry_script_tags('polyfill') }}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>

</html>
