{% extends 'base.html.twig' %}

{% block title %}Unauthorized Access{% endblock %}

{% block body %}
<div class="unauthorized__wrapper">
    <h3>Unauthorized Access</h3>
    <p>
        It appears you don't have permission to access this page.
    </p>
</div>
{% endblock %}
