{% extends 'base.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="unauthorized__wrapper">
        <h2>Oops!</h2>
        <p>Let’s get you to the right page.</p>
        <a href="{{ path('index') }}"><button class="button button-primary">Back to the homepage</button></a>
    </div>
{% endblock %}