{% extends 'base.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="unauthorized__wrapper">
        <h2>Something went wrong</h2>
        <p>
            It looks like we had a problem.  Let's see what happened.
        </p>
        <a href="http://new.library.arizona.edu/contact"><button class="button button-primary">Contact us so we can help</button></a>
    </div>
{% endblock %}
